{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Thêm sản phẩm</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
    <form action="{% url 'manager:add_product' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
        <h4>Danh mục:</h4>
        <div class="accInput"><p>{{ product.category }}</p></div>
        <h4>Tên sản phẩm:</h4>
        <div class="accInput"><p>{{ product.title }}</p></div>
        <h4>Giá:</h4>
        <div class="accInput"><p>{{ product.price }}</p></div>
        <h4>Chi tiết sản phẩm:</h4>
        <div class="accInput"><p>{{ product.description }}</p></div>
        <h4>Số lượng:</h4>
        <div class="accInput"><p>{{ product.amount }}</p></div>
        <h4>Hình ảnh:</h4>
        <div class="accInput"><p>{{ product.image }}</p></div>
    <div><input class="btn-arrival" type="submit" value="Thêm sản phẩm"></div>
    </form>

{% endblock content %}