{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Phân Quyền</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}

    <ul class="myAccSidebar">
    {#User#}
        <li class="clearfix active" style=" border-top: 1px solid #d9d9d9;">
            <button type="button" class="btn btn-success">Thêm tài khoản</button>
        </li>
        {% for user in users %}
            <li class="clearfix active" style=" border-top: 1px solid #d9d9d9;">
                    <p>{{ user.username }}</p>
                    <i class="la la-user">
                        <a href="{% url 'manager:view_permission' user.id %}"><button type="button" class="btn btn-dark">Phân quyền</button></a>
                        <a href="{% url 'manager:view_permission' user.id %}"><button type="button" class="btn btn-warning">Sửa</button></a>
                        <a href="{% url 'manager:view_permission' user.id %}"><button type="button" class="btn btn-danger">Xóa</button></a>
                    </i>
            </li>
        {% endfor %}

    </ul>
{% endblock content %}