{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Phân Quyền</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
{#    <section class="myAcc myAcc2">#}
        <div class="container">
            <a href={% url 'manager:purchase_product' %}> <button type="button" class="btn btn-warning">Tạo đơn nhập hàng</button></a>
            <div class="row">
{#            Tieue de#}
                <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>ID</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>Tài khoản đặt</h4>
                            </div>
                            <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                <h4>Hình ảnh</h4>
                            </div>
                            <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                <h4>Tên sản phẩm</h4>
                            </div>
                            <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                <h4>Nhà cung cấp</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>Số lượng</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>Tình trạng</h4>
                            </div>
                            <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                            </div>
                        </div>
                    <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                </div>
{#            Danh sach san pham#}
                <div class="col-md-10">
                    {% for purchase in purchase %}
                        <div class="row">
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>{{ purchase.id }}</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>{{ purchase.user }}</h4>
                            </div>
                            <div class="col-md-2">
                                <img src="{{ purchase.product.image.url }}" alt="product" class="img-responsive">
                            </div>
                            <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                <h4>{{ purchase.product }}</h4>
                            </div>
                            <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                <h4>{{ purchase.supplier }}</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                <h4>{{ purchase.amount }}</h4>
                            </div>
                            <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                                {% if purchase.complete  %}
                                    <h4>Đã giao</h4>
                                {% else %}
                                    <h4>Chưa giao</h4>
                                {% endif %}

                            </div>
                        <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                            <i >
                                {% if not purchase.complete  %}
                                    <a href="{% url 'manager:editPurchase' purchase.id %}"><button type="button" class="btn btn-warning">Sửa</button></a>
                                    <a href="{% url 'manager:delete_purchase' purchase.id %}"><button type="button" class="btn btn-danger">Xóa</button></a>
                                {% endif %}

                            </i>
                        </div>
                    </div>
                    <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
{#    </section>#}
{% endblock content %}