{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Continue Shopping</a>

                <br>
                <br>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:1"></div>
                    <div style="flex:1"><strong>Mã đơn</strong></div>
                    <div style="flex:3"><strong>Sản phẩm</strong></div>
                    <div style="flex:1"> <strong>Ngày đặt</strong> </div>
                    <div style="flex:1"><strong>Hoàn Thành</strong> </div>
                    <div style="flex:1"><strong>Tình trạng giao hàng</strong> </div>
                </div>

                {% for order in order_shipping %}
                    <div class="cart-row">
                    <div style="flex:1"></div>
                    {#                   Mã đơn          #}
                    <div style="flex:1"><strong>{{ order.id }}</strong></div>
                    {#                   Sản phẩm          #}
                    <div style="flex:3"><strong>
                        {% for orderitem in order.orderitem_set.all %}
                            <p>{{ orderitem.product.title }}</p>
                        {% endfor %}
                    </strong></div>
                    {#                   Số lượng          #}
                    <div style="flex:1"><strong>
                        {% for orderitem in order.orderitem_set.all %}
                            <p>{{ orderitem.quantity }}</p>
                        {% endfor %}
                    </strong></div>
                    {#                   Ngày đặt          #}
                    <div style="flex:1"> <strong>{{ order.date_ordered }}</strong> </div>
                    {#                   Hoàn Thành          #}
                    <div style="flex:2"><strong>
                        {{ order.get_status_display }}
                    </strong> </div>
                    {#                   Tình trạng giao hàng          #}
                    <div style="flex:1"><strong>
                            <p><button type="submit" data-orderid = "{{ order.id }}" data-status = "1" class="btn-apply update-shipping" name="shipped"> Đang chuẩn bị</button></p>
                            <p><button type="submit" data-orderid = "{{ order.id }}" data-status = "2" class="btn-apply update-shipping" name="shipped"> Đang vận chuyển</button></p>
                            <p><button type="submit" data-orderid = "{{ order.id }}" data-status = "3" class="btn-apply update-shipping" name="shipped"> Đã giao hàng</button></p>
                            <p><button type="submit" data-orderid = "{{ order.id }}" data-status = "4" class="btn-apply update-shipping" name="shipped"> Tạm ngưng</button></p>
{#                            <p><input type="submit" value="shipping" name="shipping"></p>#}
                    </strong> </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}