{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Phân Quyền</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
    <div class="container">
            <a href="{% url 'manager:register' %}"><button type="button" class="btn btn-success">Thêm tài khoản</button></a>
            <div class="lineAbout" style="width: 100%;height: 0px;margin-top: 20px;"></div>
            <div class="lineAbout" style="width: 100%;height: 0px;margin-top: 20px;"></div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Tên đăng nhập</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>Họ</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>Tên</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>Email</h4>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
            </div>

            <div class="col-md-10">
                {% for user in users %}
                    <div class="row">
                        <div class="col-md-2">
                            {{ user.username }}
                        </div>
                        <div class="col-md-2">
                            {{ user.last_name }}
                        </div>
                        <div class="col-md-2">
                            {{ user.first_name }}
                        </div>
                        <div class="col-md-3">
                            {{ user.email }}
                        </div>
                        <div class="col-md-3">
                            {% if request_user.is_superuser %}
                                <a href="{% url 'manager:view_permission' user.id %}"><button type="button" class="btn btn-dark">Phân quyền</button></a>
                            {% endif %}
                            {% if perms.auth.change_user %}
                                <a href="{% url 'manager:editUser' user.id %}"><button type="button" class="btn btn-warning">Sửa</button></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                    {% endfor %}

            </div>
        </div>
    </div>
{#    <ul class="myAccSidebar">#}
    {#User#}
{##}
{#    <li>#}
{##}
{#    </li>#}
{##}
{#            <li class="clearfix active" style=" border-top: 1px solid #d9d9d9;">#}
{##}
{##}
{##}
{#            </li>#}
{#        {% endfor %}#}
{##}
{#    </ul>#}
{% endblock content %}