{% load humanize %}
{% load static %}
<!DOCTYPE html>
<!-- <html class="no-js" lang="en"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TL Store</title>
    <meta name="author" content="ThemePunch"/>
    <meta name="description" content="The Garden theme tempalte">
    <meta name="keywords" content="The Garden theme template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="images/favicon.ico" type="image/gif" sizes="16x16"> -->
    <!--Icons fonts-->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/themify-icons/themify-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap2-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap4.0/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap4.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <!--Styles-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/animsition/dist/css/animsition.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/animate.css/source/slide_fwd_center/slide_fwd_center.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl-carousel/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css-hamburgers/css/hamburgers.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/slick/css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/range_filter/css/jquery-ui.css' %}" rel="stylesheet">
    <!-- Revolution -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slider-revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slider-revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slider-revolution/css/navigation.css' %}">
    <!--Theme style-->
    <link href="{% static 'css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body>
<div class="page-loader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div class="the-garden">
    <header id="header" class="header-serviceV2 scollView">
        <div class="home-top" style="margin-top: 0">
            <div class="container">
                <div class="header-top clearfix">
                    <div class="header-tleft pull-left">
                        <div class="link-list link-list-first">
                            <span>Welcome to Our Wood Store !</span>
                        </div>
                    </div>
                    <div class="header-dropdown pull-right">
                        <div class="check-account dp-iblock">
                            <p>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'user:accountDetail' %}" class="check link-color">Xin chào: {{ user.username }}</a>  {# / <a href="{% url 'user:logout' %}" class="check link-color">Đăng xuất</a> #}
                                                {% else %}
                                                    <a href="{% url 'user:login' %}" class="check link-color">Đăng nhập/Đăng kí</a>
                                                {% endif %}
                            </p>
                            <a href="{% url 'cart:view_cart' %}" class="check link-color">Giỏ Hàng: {{ cartItems }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-menu">
            <nav class="navbar-core navbar-white navbar-v1 headroom headroom--not-bottom headroom--pinned headroom--top">
                <div class="s-wrapper s-wrapper-service">
                    <div class="container">
                        <div class="s-inner clearfix">
                            <div class="pull-left nav-left">
                                <div class="logo">
                                    <a href="{% url 'store:home' %}">
                                        <img src="{% static 'images/logo.png' %}" alt="logo" class=" img-responsive">
                                    </a>
                                </div>
                            </div>
                            <button class="hamburger has-animation hamburger--collapse" id="toggle-icon">
                                    <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                    </span>
                            </button>
                            <div class="pull-right nav-right">
                                <div class="navbar-main">
                                    <ul class="navbar-menu">
                                        <li class="dropdown">
                                            <a href="{% url 'store:home' %}" >Trang Chủ</a>
                                        </li>
                                          <li class="dropdown productMN">
                                                    <a href="{% url 'store:productGrid' %}" class="">Sản Phẩm</a>
                                                    <i class="fa fa-angle-down"></i>
                                                    <div class="box-menu">
                                                        <div class="row">
                                                            <div class="col-md-5 ">
                                                                <div class=" slideSort">
                                                                    <h3 class="slider-left-title">Loại Sản Phẩm</h3>
                                                                    <ul class="slide-left-list">
                                                                        {% for items in category %}
                                                                            {% if items.active %}
                                                                                <li><a href="{% url 'store:category' items.id %}">{{ items.title }}</a></li>
                                                                            {% endif %}

                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 ">

                                                                <div class=" slideSort">
                                                                    <h3 class="slider-left-title">Danh Mục</h3>
                                                                    <ul class="slide-left-list">
                                                                        <li><a href="{% url 'store:hotProduct' %}">Sản phẩm mới</a></li>
                                                                        <li><a href="{% url 'store:mostPopular' %}">Bán chạy nhất</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                        <li class="dropdown">
                                            {% if user.is_authenticated %}
                                               <a href="{% url 'user:accountDetail' %}">
                                                    Tài Khoản
                                                </a>
                                            {% else %}
                                                <a href="{% url 'user:login' %}">
                                                    Tài Khoản
                                                </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="search2">
                                    <ul>
                                        <form action="{% url 'store:search' %}" method="post">
                                            {% csrf_token %}
                                        <li>
                                                <input type="text" name="key" placeholder="Search" class="">
                                        </li>
                                        <li>
                                               <input class="fa fa-search" type="submit" value="Tìm kiếm">
                                        </li>
                                        </form>
                                    </ul>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
{#    ----------------Banner and title----------------#}
        {% block banner %}
        {% endblock banner %}
        {#    ----------------Banner and title----------------#}
    </header>
    <section class="page-shop-slidebar" style="    padding-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
            {#    ----------------Content----------------#}
                {% block content %}
                {% endblock content %}
            {#    ----------------Content----------------#}
            </div>
            <div class="col-md-3 col-md-pull-9">
            {#    ----------------Left navbar----------------#}
                {% block left-navbar %}
                {% endblock left-navbar %}

            {#    ----------------Left navbar----------------#}
            </div>
        </div>
    </div>
    </section>


<footer id="footerV2">
    <div class="container" style="position: relative">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-contentV2">
                    <div class="footer-titleV2">
                        <h4 style="font-size: 32px;font-weight: 700">WOODY STORE</h4>
                    </div>
                    <p>Woody integrates design, technology and <br>
                        nature. We offer innovative wooden<br>
                        products to a more sustainable and<br>
                        durable envoriment.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-titleV2">
                            <h4>Menu</h4>
                        </div>
                        <div class="list-support">
                            <a href="Home.html" ><p>Home</p></a>
                            <a href="ProductGrid.html" class="active"><p>Product</p></a>
                            <a href="AboutUs.html" ><p>About Us</p></a>
                            <a href="Contact.html"><p>Contact</p></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-titleV2">
                            <h4>Explore</h4>
                        </div>
                        <div class="list-support">
                            <a href="Policy.html"> <p>Policy</p></a>
                            <a href="FAQ.html"> <p>FAQ</p></a>
                            <a href="Blogs.html"> <p>Blog</p></a>
                            <a href="Gallery.html"> <p>Gallery</p></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-titleV2">
                            <h4>Other</h4>
                        </div>
                        <div class="list-support">
                            <a href="../../../user/templates/user/AccountDetail.html" > <p>Account</p></a>
                            <a href="Cart.html"> <p>Cart</p></a>
                            <a href="WishList.html"> <p>Wishlist</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-titleV2">
                    <h4>Follow Us On</h4>
                </div>
                <div class="follow-list-icon">
                    <div class="mr-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
                <div class="footer-titleV2">
                    <h4 style="    margin-top: 30px;">Payment Menthod</h4>
                </div>
                <div class="follow-list-icon">
                    <div class="mr-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-fw fa-cc-visa" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-cc-paypal" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-cc-jcb" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-cc-mastercard" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div id="bttop" style="display: block;">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <div class="clearfix">
                <p style="float: left">Copyrights @ 2019 All Woody by Arena Muiltimedia</p>
                <div class="mr-icon" style="float: right;    width: 50%;    margin-top: 16px;">
                   <ul>
                                    <li><a href="Policy.html">Term of user</a></li>
                                    <li><a href="Policy.html">Private Policy</a></li>
                                    <li><a href="Contact.html">Site map</a></li>
                                    <li><a href="#">Languages: ENG</a></li>
                                </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery_easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/js/owl.carousel.js' %}"></script>
<script src="{% static 'vendor/slick/js/slick.js' %}"></script>
<script src="{% static 'vendor/isotope/js/isotope.js' %}"></script>
<script src="{% static 'vendor/isotope/js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'vendor/range_filter/js/jquery-ui.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap4.0/js/bootstrap.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap4.0/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap4.0/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/slider-revolution/js/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/main.js' %}"></script>
<script type="text/javascript" src="{% static 'script/Aleytify.js' %}"></script>
</body>
</html>