{% extends 'store/base_simple.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Xin lỗi !</h3>
                <div class="col-md-4">
                </div>
{#                <div class="col-md-4">#}
{#                    <a href="{% url 'order:recentOrder' %}" class="btn-formTax">#}
{#                                <div >Xem đơn hàng</div>#}
{#                    </a>#}
{#                </div>#}
                <div class="col-md-4">
                    <a href="{% url 'store:home' %}" class="btn-formTax">
                                <div >Tiếp tục mua sắm</div>
                    </a>
                </div>
            </div>
        </div>
{% endblock banner %}
{% block content %}
    <p><h2>Sản phẩm bạn đặt đã hết hàng</h2></p>
    <p><h2>Vui lòng chọn sản phẩm khác</h2></p>
{% endblock %}