{% extends 'store/base_simple.html' %}
{% load humanize %}
{% load  static %}

{% block content %}
    <section style="margin-top: 100px;margin-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="max-width: 470px">
                        <div class="image-preview-container">
                            <!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->
                            <div class="image-preview">
                                <a href="images/SingleProduct/Group 1059.png"
                                   data-zoom-image="images/SingleProduct/Group 1059.png" data-fancybox="group">
                                    <img class="img-thumbnail" id="zoom-image" src="{{ product.image.url|default_if_none:'#' }}" alt="">
                                </a>
                            </div>
                            <!--/ .image-preview-->
                            <!-- - - - - - - - - - - - - - End of Image Preview Container - - - - - - - - - - - - - - - - -->
                            <!-- - - - - - - - - - - - - - Thumbnails - - - - - - - - - - - - - - - - -->
                            <div class="carousel-type-2">
                                <div class="owl-carousel type-small product-thumbs" id="thumbnails" data-max-items="4">
                                    <a class="active" href="#" data-image="images/SingleProduct/Group 1059.png"
                                       data-zoom-image="images/SingleProduct/Group 1059.png">
                                        <img src="images/SingleProduct/Tractor-photo-3-897x897.png" alt="">
                                    </a>
                                    <a href="images/SingleProduct/Group 1062.png"
                                       data-image="images/SingleProduct/Group 1062.png"
                                       data-zoom-image="images/SingleProduct/Group 1062.png" data-fancybox="group">
                                        <img src="images/SingleProduct/Image 16.png" alt="">
                                    </a>
                                    <a href="images/SingleProduct/Group 1060.png"
                                       data-image="images/SingleProduct/Group 1060.png"
                                       data-zoom-image="images/SingleProduct/Group 1060.png" data-fancybox="group">
                                        <img src="images/SingleProduct/Image 17.png" alt="">
                                    </a>
                                    <a href="images/SingleProduct/Group 1061.png"
                                       data-image="images/SingleProduct/Group 1061.png"
                                       data-zoom-image="images/SingleProduct/Group 1061.png" data-fancybox="group">
                                        <img src="images/SingleProduct/Image 18.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Thumbnails - - - - - - - - - - - - - - - - -->
                        </div>
                        <!--/ .image-preview-container -->
                    </div>
                </div>
                <div class="col-md-6  clearfix">
                    <div class="mid-product-content media-body">
                        <h3 style="font-size: 35px">{{ product.title }}</h3>
                        <p>Mã sản phẩm: {{ product.id }}</p>
                        {% if product.amount > 0 %}
                            <p style="color: #000">Còn hàng - Số lượng: {{ product.amount }}</p>
                        {% else %}
                            <p style="color: #000">Hết hàng</p>
                        {% endif %}

                        <div class="notable clearfix">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <p>Đã bán: {{ product.amount_sell }}</p>
                        </div><!--/notable-->
                    <div class="lineAbout" style="width: 100%;height: 1px"></div>
                        <div class="details-desc" style="margin-top: 0">
                            <p>Giá sản phẩm</p>
                        </div>
                        <span class="details-price"> {{ product.price|intcomma }} VND</span>

                        {% if product.amount > 0 %}
                            <div class="lineAbout" style="width: 100%;height: 1px"></div>
                        <div class="details-button clearfix" style="margin-bottom: 0">

                               <div style="width: 50%;float: left">
                                   <h3>Số lượng</h3>
    {#                               --------------So luong--------------------#}

                                       <div class="pd-c-quantity quantity details-next">

                                       <input type="number" min="1" max="100" step="1" value="1" id="quantity_product">
                                       <div class="quantity-button quantity-down">
                                           <span class="step-next"><i class="la la-angle-down"></i></span>
                                       </div>
                                       <div class="quantity-button quantity-up">
                                           <span class="step-next"><i class="la la-angle-up"></i></span>
                                       </div>
                                   </div>

                               </div>

                            <div class="sidebar-filter-color" style="width: 50%;float: left">
                            </div>

                        </div>
                    {% endif %}
                        <div class="lineAbout" style="width: 100%;height: 1px;    margin-top: 15px;"></div>
                       <div class="addCart">
                           <ul>
{#                               --------------ADD to Cart------------------#}
                               {% if user.is_authenticated %}
                                   {% if product.amount > 0 %}
                                       <li>
                                       <button data-product="{{ product.id }}" class="button btn-hover btn-details add-item-carts">Thêm vào giỏ hàng <i class="la la-shopping-cart" style="font-size: 20px;position: relative;top: 2px;"></i></button>
                                       </li>
                                   {% endif %}
                               {% else %}
                                   <a href="{% url 'user:login' %}">
                                    <li>
                                        <button class="button btn-hover btn-details">Thêm vào giỏ hàng <i class="la la-shopping-cart" style="font-size: 20px;position: relative;top: 2px;"></i></button>
                                    </li>
                                   </a>
                               {% endif %}


                           </ul>
                       </div>
                        <div class="category_tag" style="margin-top: 20px">

{#                            <div class="share-link tags" >#}
{#                                <p class="tags-item">Share on:</p>#}
{#                                <ul class="sku-nd">#}
{#                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>#}
{#                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>#}
{#                                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>#}
{#                                    <li><a href="#" title=""><i class="fa fa-rss"></i></a></li>#}
{#                                </ul>#}
{#                            </div><!--/share-link-->#}
                            <div class="category tags">
                                <p class="tags-item">Loại: </p>
                                <span><a href="{% url 'store:category' product.category_id %}" class="sku-nd" style="font-size: 12px">{{ product.category }}</a></span>
                            </div><!--/category-->
                        </div><!--/category_tag-->
                    </div><!--/mid-product-content-->
                </div>

            </div>
        </div>

    </section>
    <section class="tabProduct">
        <div class="container">
            <div class="menuTabPro">
                <ul class="">
                    <li class="active"><a data-toggle="tab" href="#home">Thông tin</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active tabProText">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}