{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Thay đổi thông tin tài khoản</h3>
            </div>
        </div>
{% endblock banner %}
{% block content %}
<div class="border border-dark rounded">
    <h1 class="text-center mt-5 mb-5">THAY ĐỔI THÔNG TIN TÀI KHOẢN</h1>
    <form action="{% url 'manager:editUser' userEdit.id %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="accInput ml-5">
                <p>Tên tài khoản:</p>
                <input type="text" name="username" class="inputText" value="{{ userEdit.username }}">
            </div>
            <div class="accInput ml-5">
                <p>Họ:</p>
                <input type="text" name="last_name" class="inputText" value="{{ userEdit.last_name }}">
            </div>
            <div class="accInput ml-5">
                <p>Tên:</p>
                <input type="text" name="first_name" class="inputText" value="{{ userEdit.first_name }}">
            </div>
            <div class="accInput ml-5">
                <p>Email:</p>
                <input type="text" name="email" class="inputText" value="{{ userEdit.email }}">
            </div>

        <p class="ml-5 mb-5"><input class="btn-arrival" type="submit" value="Sửa tài khoản"></p>
    </form>
</div>
{% endblock content %}