{% extends 'store/base.html' %}
{%  load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Tài Khoản của tôi</h3>
                <p>Home<i class="fa fa-angle-right" aria-hidden="true"></i> Account</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
<div class="col-md-9">
                    <h3 style="margin-bottom: 30px;text-align: left">USER PROFILE</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="accInput">
                                <p>First Name</p>
                                <input type="text" class="inputText" placeholder="Enter your username or email address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accInput">
                                <p>Last Name</p>
                                <input type="text" class="inputText" placeholder="Enter your username or email address">
                            </div>
                        </div>
                    </div>
                    <div class="accInput">
                        <p>Display Name *</p>
                        <input type="text" class="inputText" placeholder="Enter your password">
                    </div>
                    <div class="accInput">
                        <p>Email Address</p>
                        <input type="text" class="inputText" placeholder="Enter your password">
                    </div>

                    <div class="boxAcc2">
                        <h4>Password Change</h4>
                        <div class="accInput">
                            <p>Currently Password (Leave Blank If Unchage)</p>
                            <input type="text" class="inputText" placeholder="Enter your password">
                        </div>
                        <div class="accInput">
                            <p>New Password (Leave Blank If Unchage)</p>
                            <input type="text" class="inputText" placeholder="Enter your password">
                        </div>
                        <div class="accInput">
                            <p>Confirm New Password</p>
                            <input type="text" class="inputText" placeholder="Enter your password">
                        </div>
                    </div>
                    <div class="viewMore" style="margin: 0;margin-top: 45px;">
                        <p>SAVE CHANGE</p>
                    </div>
                </div>
{% endblock content %}
{% block left-navbar %}
                    <ul class="myAccSidebar">
                        <li class="clearfix active" style=" border-top: 1px solid #d9d9d9;">
                            <a href="{% url 'user:accountDetail' %}">
                                <p>Account Detail</p>
                                <i class="la la-user"></i>
                            </a>
                        </li>
{#                        <li class="clearfix">#}
{#                            <a href="../../../store/templates/store/Address.html">#}
{#                                <p>Address</p>#}
{#                                <i class="la la-home"></i>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="clearfix">#}
{#                            <a href="../../../store/templates/store/PaymentMenthod.html">#}
{#                                <p>Payment Menthod</p>#}
{#                                <i class="la la-cc-mastercard"></i>#}
{#                            </a>#}
{#                        </li>#}
                        <li class="clearfix">
                            <a href="{% url 'user:recentOrder' %}">
                                <p>Recent Order</p>
                                <i class="la la-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="{% url 'user:logout' %}">
                                <p>Logout</p>
                                <i class="la la-sign-out"></i>
                            </a>
                        </li>
                    </ul>
{% endblock left-navbar %}

