{% extends 'store/base_simple.html' %}
{% load static %}
<div class="container">
    {% block banner %}
        <div id="carouselExampleIndicators" class="container-fluid carousel slide mt-1" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/bia1.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/bia2.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/bia3.jpg' %}" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endblock banner %}
    {% block content %}
            <div class="row">
                <div class="col-md-4 border border-dark rounded m-5">
                    <form action="{% url 'user:login' %}" method="post">
                    {% csrf_token%}
                        <h1 class="text-center mt-5">ĐĂNG NHẬP</h1>
                        <div class="accInput mt-5 mr-5">
                            <p class="ml-5">Tên đăng nhập</p>
                            <input type="text" name="user" class="inputText w-75 ml-5" placeholder="Vui lòng nhập tên đăng nhập">
                        </div>
                        <div class="accInput">
                            <p class="ml-5">Mật khẩu</p>
                            <input type="password" name="password" class="inputText w-75 ml-5" placeholder="Vui lòng nhập mật khẩu">
                        </div>
                        <div class="mb-5">
                            <input class="btn-arrival ml-5" type="submit" value="ĐĂNG NHẬP">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 border border-dark rounded m-5">
                    <form action="{% url 'user:register' %}" method="post">
                    {% csrf_token%}
                        <h1 class="text-center mt-5">ĐĂNG KÝ</h1>
                        <div class="accInput mt-5">
                            <p class="ml-5">Tên tài khoản</p>
                            <input type="text" name="user" class="inputText w-75 ml-5" placeholder="Vui lòng nhập tên tài khoản">
                        </div>
                        <div class="accInput">
                            <p class="ml-5">Email</p>
                            <input type="email" name="email" class="inputText w-75 ml-5" placeholder="Vui lòng nhập email">
                        </div>
                        <div class="accInput">
                            <p class="ml-5">Mật khẩu </p>
                            <input type="password" name="password1" class="inputText w-75 ml-5" placeholder="Vui lòng nhập mật khẩu">
                        </div>
                        <div class="accInput">
                            <p class="ml-5">Nhập lại mật khẩu</p>
                            <input type="password" name="password2" class="inputText w-75 ml-5" placeholder="Vui lòng nhập lại mật khẩu">
                        </div>
                        <div class="mb-5">
                            <input class="btn-arrival ml-5" type="submit" value="ĐĂNG KÍ">
                        </div>
                    </form>
                </div>
            </div>
    {% endblock content %}

</div>
