{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Quản lí danh mục</h3>
                <p>Manager <i class="fa fa-angle-right" aria-hidden="true"></i> categoryControl</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
{#    <section class="myAcc myAcc2">#}
        <div class="container">
        {% if perms.product.add_category %}
            <a href={% url 'manager:addCategory' %}> <button type="button" class="btn btn-primary">Thêm danh mục</button></a>
        {% endif %}
            <div class="row mt-5">
                <table class="table table-bordered table-striped table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col">Chi tiết</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for category in category %}
                            <td scope="row" class="mt-3">{{ category.id }}</td>
                            <td scope="row" class="mt-3">{{ category.title }}</td>
                            <td scope="row" class="mt-3">{{ category.description }}</td>
                            <td scope="row" class="mt-3">
                                {% if category.active %}
                                    Đang bán
                                {% else %}
                                    Ngừng bán
                                {% endif %}
                            </td>
                            <td scope="row">
                                {% if perms.product.change_category %}
                                    <a href="{% url 'manager:editCategory' category.id %}"><button type="button" class="btn btn-primary">Sửa</button></a>
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{#    </section>#}
{% endblock content %}