{% extends 'store/base.html' %}
{%  load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Tài Khoản của tôi</h3>
                <p>Home<i class="fa fa-angle-right" aria-hidden="true"></i> Account</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
<div class="col-md-9">
                    <h3 style="margin-bottom: 30px;text-align: left">ĐƠN HÀNG CỦA TÔI</h3>
                    <div class="panel-group" id="faqAccordion">
                        {% for order in orders %}
                            <div class="panel panel-default faq-coat" style="border: none;    box-shadow: none;">
                            <div class="panel-heading faq-head bd-color-left-setting active" data-toggle="collapse"
                                 data-parent="#faqAccordion" data-target="#question0" aria-expanded="true"
                                 style="background: rgb(193, 155, 118);   ">
                                <h4 class="panel-title">
                                    ID: {{ order.id }}
                                </h4>
                                <h4 class="panel-title">
                                    {{ order.date_ordered|date:'H:i d-m-Y' }}
                                </h4>
                                 <h4 class="panel-title">
                                    {{ order.get_status_display }}
                                </h4>
                                <span class="accordion-toggle question-toggle collapsed"><i
                                        class="fa color-setting fa-minus" aria-hidden="true"></i></span>
                                <p style="  position: absolute;
                                            right: 19px;
                                            top: 14px;
                                            font-size: 16px;
                                            color: #fff;">{{ order.cart.get_cart_total|intcomma }} VND</p>
                            </div>
                            <div id="question0" class="panel-collapse collapse in" aria-expanded="true" style="">
                                <div class="panel-body " style=" background: #fff;padding: 30px">
                                    {% for cartitem in order.cart.cartitem_set.all %}
                                        <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ cartitem.product.image.url }}" alt="product"
                                                 class="product-img-first img-responsive">
                                        </div>
                                        <div class="col-md-2" style="text-align: center;padding-top: 58px;">

                                        </div>
                                        <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                            {{ cartitem.product.price|intcomma }}
                                        </div>
                                        <div class="col-md-2" style="padding-top: 50px;">
                                            <div class="sidebar-filter-color">
                                                <ul class="clearfix">
{#                                                    <li class="tooltip"#}
{#                                                        style="background: #f7bb66;margin-bottom: 0px;margin-right: 0px;float: right;">#}
{#                                                        <span class="tooltiptext">Tooltip text</span>#}
{#                                                    </li>#}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align: right;padding-top: 50px;">
                                            <div style="border-bottom: 1px solid rgb(193, 155, 118);
                                            width: 50px;
                                            font-weight: bold;
                                            text-align: center;
                                            float: right;
                                            padding-bottom: 10px;">
                                                {{ cartitem.quantity }}
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align: right;padding-top: 58px;"> {{ cartitem.get_total|intcomma }}</div>
                                    </div>
                                        <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                                    {% endfor %}
                                </div>


                            </div>
                        </div>
                        {% endfor %}
<!--                        <div class="panel panel-default faq-coat">-->
<!--                            <div class="panel-heading faq-head addMore">-->
<!--                                <h4 class="panel-title" style="text-align: center;display: block;">-->
<!--                                    <i class="fa fa-plus color-setting" aria-hidden="true"-->
<!--                                       style="margin-right: 9px;"></i> Add More-->
<!--                                </h4>-->

<!--                            </div>-->

<!--                        </div>-->

                    </div>
                </div>
{% endblock content %}
{% block left-navbar %}
                    <ul class="myAccSidebar">
                        <li class="clearfix active" style=" border-top: 1px solid #d9d9d9;">
                            <a href="{% url 'user:accountDetail' %}">
                                <p>Thông tin tài khoản</p>
                                <i class="la la-user"></i>
                            </a>
                        </li>
{#                        <li class="clearfix">#}
{#                            <a href="../../../store/templates/store/Address.html">#}
{#                                <p>Address</p>#}
{#                                <i class="la la-home"></i>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="clearfix">#}
{#                            <a href="../../../store/templates/store/PaymentMenthod.html">#}
{#                                <p>Payment Menthod</p>#}
{#                                <i class="la la-cc-mastercard"></i>#}
{#                            </a>#}
{#                        </li>#}
                        {% if perms.product.view_product %}
                            <li class="clearfix">
                                <a href="{% url 'manager:home' %}">
                                    <p>Trang dành cho quản lí</p>
                                    <i class="la la-shopping-cart"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="clearfix">
                                <a href="{% url 'order:recentOrder' %}">
                                    <p>Đơn hàng của tôi</p>
                                    <i class="la la-shopping-cart"></i>
                                </a>
                            </li>
                        {% endif %}
                        <li class="clearfix">
                            <a href="{% url 'user:logout' %}">
                                <p>Đăng xuất</p>
                                <i class="la la-sign-out"></i>
                            </a>
                        </li>
                    </ul>
{% endblock left-navbar %}
