{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Continue Shopping</a>

                <br>
                <br>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:1"></div>
                    <div style="flex:1"><strong>Mã đơn</strong></div>
                    <div style="flex:3"><strong>Sản phẩm</strong></div>
                    <div style="flex:1"><strong>Số lượng</strong></div>
                    <div style="flex:1"> <strong>Ngày đặt</strong> </div>
                    <div style="flex:2"><strong>Hoàn Thành</strong> </div>
                    <div style="flex:1"><strong>Tình trạng giao hàng</strong> </div>
                </div>
                {% for order in order_shipping %}
                    <div class="cart-row">
                    <div style="flex:1"></div>
                    {#                   Mã đơn          #}
                    <div style="flex:1"><strong>{{ order.id }}</strong></div>
                    {#                   Sản phẩm          #}
                    <div style="flex:3"><strong>
                        {% for orderitem in order.orderitem_set.all %}
                            <p>{{ orderitem.product.title }}</p>
                        {% endfor %}
                    </strong></div>
                    {#                   Số lượng          #}
                    <div style="flex:1"><strong>
                        {% for orderitem in order.orderitem_set.all %}
                            <p>{{ orderitem.quantity }}</p>
                        {% endfor %}
                    </strong></div>
                    {#                   Ngày đặt          #}
                    <div style="flex:1"> <strong>{{ order.date_ordered }}</strong> </div>
                    {#                   Hoàn Thành          #}
                    <div style="flex:2"><strong>
                        {% if order.complete  %}
                            Đã Hoàn Thành
                        {% else %}
                            Chưa Hoàn Thành
                        {% endif %}
                    </strong> </div>
                    {#                   Tình trạng giao hàng          #}
                    <div style="flex:1"><strong>
                        {% if status_ship %}
                             Đã Giao
                        {% else %}
                             Đang giao
                        {% endif %}
                    </strong> </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock content %}