{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
        <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
        <div class="banner-arrival">
            <h3>Quản lí giao hàng</h3>
        </div>
    </div>
{% endblock banner %}
{% block content %}
    <form method="post" action="{% url 'manager:shippingControl' order.id %}">
    {% csrf_token %}
        <div class="row">
        <div class="col-md-8">
            <div class="form-tax">
                        <h4>ĐƠN HÀNG</h4>
                        <div class="lineAbout" style="width: 100%;height: 1px;    margin-top: 20px;"></div>

                        <div class="box-formTax-content">
                        {% for cartitem in order.cart.cartitem_set.all %}
                            <div class="row">
                                <div class="col-md-3"><img style="height: 70px; width: 70px" src="{{ cartitem.sizeProduct.product.image.url }}"></div>
                                <div class="col-md-2" style="text-align: center;margin-top: 30px">{{ cartitem.sizeProduct.horizontal }}x{{ cartitem.sizeProduct.vertical }}</div>
                                <div class="col-md-3" style="text-align: center;margin-top: 30px">x{{ cartitem.quantity }}</div>
                                <div class="col-md-4" style="text-align: right;margin-top: 30px">{{ cartitem.get_total|intcomma }}</div>
                            </div>
                        {% endfor %}
                        <div class="lineAbout" style="width: 100%;height: 1px;    margin-top: 20px;"></div>

                        <div class="box-formTax-total">
                            <div class="row">
                                <div class="col-md-6" style="font-size: 18px;font-weight: bold">Tổng tiền</div>
                                <div class="col-md-6" style="text-align: right;font-size: 18px;font-weight: bold">{{ cart.get_cart_total|intcomma }}</div>
                            </div>
                        </div>
{#                        <a href="" data-cartID="{{ cart.id }}" class="btn-formTax add-order">#}
                        <div  style="    margin-top: 25px;" >
                            <div><input class="btn-arrival" type="submit" value="Cập Nhật"></div>
                        </div>
{#                        </a>#}
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="form-tax">
    <h3 style="margin-bottom: 30px;text-align: left">GIAO HÀNG</h3>
    <ul>
        {% if order.status == "1" %}

            <li><input type="radio" name="status" value="1" checked> Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" > Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" > Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" > Đã giao hàng
            <li><input type="radio" name="status" value="5" > Đã hủy</li>
            <li><input type="radio" name="status" value="6" > Tạm ngưng</li>
        {% elif order.status == "2" %}
            <li><input type="radio" name="status" value="1" > Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" checked> Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" > Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" > Đã giao hàng
            <li><input type="radio" name="status" value="5" > Đã hủy</li>
            <li><input type="radio" name="status" value="6" > Tạm ngưng</li>
        {% elif order.status == "3" %}
            <li><input type="radio" name="status" value="1" > Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" > Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" checked> Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" > Đã giao hàng
            <li><input type="radio" name="status" value="5" > Đã hủy</li>
            <li><input type="radio" name="status" value="6" > Tạm ngưng</li>
        {% elif order.status == "4" %}
            <li><input type="radio" name="status" value="1" > Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" > Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" > Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" checked> Đã giao hàng
            <li><input type="radio" name="status" value="5" > Đã hủy</li>
            <li><input type="radio" name="status" value="6" > Tạm ngưng</li>
        {% elif order.status == "5" %}
            <li><input type="radio" name="status" value="1" > Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" > Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" > Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" > Đã giao hàng
            <li><input type="radio" name="status" value="5" checked> Đã hủy</li>
            <li><input type="radio" name="status" value="6" > Tạm ngưng</li>
        {% elif order.status == "6" %}
            <li><input type="radio" name="status" value="1" > Đã tiếp nhận</li>
            <li><input type="radio" name="status" value="2" > Đang chuẩn bị</li>
            <li><input type="radio" name="status" value="3" > Đang giao hàng</li>
            <li><input type="radio" name="status" value="4" > Đã giao hàng</li>
            <li><input type="radio" name="status" value="5" > Đã hủy</li>
            <li><input type="radio" name="status" value="6" checked> Tạm ngưng</li></li>
        {% endif %}
    </ul>
</div>
        </div>
    </div>
    </form>
    <div class="lineAbout" style="width: 100%;height: 1px;    margin-top: 20px;"></div>
    <table class="table table-bordered table-striped table-light mt-5">
            <thead>
                <tr>
                    <th scope="col">Người sửa</th>
                    <th scope="col">Ngày sửa</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
            {% for shipping in shipping %}
                <tr>
                        <th scope="col">{{ shipping.user }}</th>
                        <th scope="col">{{ shipping.datetime_change|date:'H:i d-m-Y' }}</th>
                        <th scope="col">{{ shipping.get_status_display }}</th>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
 <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>
    </div>
</div>
{#    </section>#}
{% endblock content %}