{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Thêm sản phẩm</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
<div class="border border-dark">
    <form action="{% url 'manager:editPurchase' purchase.id %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="accInput">
                <p>Sản phẩm:</p>
                    <input type="hidden" value="{{ sizeproduct.id }}" name="sizeProduct_id">
                    <h4>{{ sizeproduct.product.title }}</h4>
            </div>
            <div class="accInput">
                <p>Nhà cung cấp:</p>
                <select class="form-select" name="supplier_id">
                  {% for supplier in  supplier %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="accInput">
                <p>Kích thước:</p>
                <h5>{{ sizeproduct.horizontal }}x{{ sizeproduct.vertical }}</h5>
            </div>
            <div class="accInput">
                <p>Số lượng:</p>
                <input type="number" name="amount" class="inputText" value="{{ purchase.amount }}">
            </div>
                {% if not purchase.complete %}
                    <p>Đã giao:</p>
                    <select name="complete">
                        <option value="False">Chưa giao</option>
                        <option value="True">Đã giao</option>
                    </select>
                {% endif %}
        <p><input class="btn-arrival" type="submit" value="Sửa đơn đặt hàng"></p>
        </form>
</div>
{% endblock content %}