{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Quản lí nhập hàng</h3>
                <p>Manager <i class="fa fa-angle-right" aria-hidden="true"></i> viewPurchase</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
{#    <section class="myAcc myAcc2">#}
        <div class="container">
        {% if perms.purchase.add_purchaseproduct %}
            <a href={% url 'manager:purchase_product' %}> <button type="button" class="btn btn-primary">Tạo đơn nhập hàng</button></a>
        {% endif %}
            <div class="row mt-5">
                <table class="table table-bordered table-striped table-light">
                    <thead>
                        <tr class="text-left">
                            <th scope="col">ID</th>
                            <th scope="col">Tài khoản đặt</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Kích thước</th>
                            <th scope="col">Nhà cung cấp</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col">Ngày nhập</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for purchase in purchase %}
                        <tr>
                            <td scope="row">{{ purchase.id }}</td>
                            <td scope="row">{{ purchase.user }}</td>
                            <td scope="row"><img src="{{ purchase.sizeProduct.product.image.url }}" alt="product" style="width:100px" class="img-responsive"></td>
                            <td scope="row">{{ purchase.sizeProduct }}</td>
                            <td scope="row">{{ purchase.sizeProduct.vertical }}X{{ purchase.sizeProduct.horizontal }}}</td>
                            <td scope="row">{{ purchase.supplier }}</td>
                            <td scope="row">{{ purchase.amount }}</td>
                            <td scope="row">{{ purchase.time_create }}</td>
                            <td scope="row">
                                {% if purchase.complete  %}
                                    <h4>Đã giao</h4>
                                {% else %}
                                    <h4>Chưa giao</h4>
                                {% endif %}
                            </td>
                            <td scope="row">
                                {% if not purchase.complete  %}
                                    {% if perms.purchase.change_purchaseproduct %}
                                        <a href="{% url 'manager:editPurchase' purchase.id %}"><button type="button" class="btn btn-primary">Sửa</button></a>
                                    {% endif %}
                                    {% if perms.purchase.delete_purchaseproduct %}
                                        <a href="{% url 'manager:delete_purchase' purchase.id %}"><button type="button" class="btn btn-primary">Xóa</button></a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{#    </section>#}
{% endblock content %}