{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Thêm sản phẩm</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> Permission</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
   <div class="border border-dark">
    <form action="{% url 'manager:purchase_product' %}" method="post" id="purchaseForm">
        {% csrf_token %}
        <h1 class="text-center mt-5">TẠO ĐƠN NHẬP HÀNG</h1>
            <div class="accInput ml-5">
                <input  name="user" type="text" value="{{ user.id }}" hidden>
            </div>
            <h4 class="ml-5">Nhà cung cấp:</h4>
            <div class="accInput ml-5">
                <select class="form-select" name="supplier">
                    {% for supplier in supplier %}
                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <h4 class="ml-5">Tên sản phẩm:</h4>
            <div class="accInput ml-5"><p>
                <select class="form-select" name="product" id="pp_product_name">
                    <option value="">------------------</option>
                    {% for product in product %}
                        <option value="{{ product.id }}">{{ product.title }}</option>
                    {% endfor %}
                </select>
            </p></div>
            <h4 class="ml-5">Kích thước:</h4>
            <div class="accInput ml-5"><p>
                <select class="form-select" name="sizeProduct" id="id_sizeProduct_purchase">
                    <option value="">------------------</option>
                </select>
            </p></div>
            <h4 class="ml-5">Số lượng:</h4>
            <div class="accInput ml-5">
                <p><input  name="amount" id="id_amount" type="number"></p>
                <p><label id="id_lbl"></label></p>
            </div>
    
            <div>
                <button id="id_submit" class="btn-arrival ml-5 mb-5">Đặt sản phẩm</button></div>
        </form> 
   </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#pp_product_name").click(function () {
      var url = "/manager/ajax/load_sizeProduct/";  // get the url of the `load_cities` view
      var productId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'product': productId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sizeProduct_purchase").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });

  </script>
{% endblock content %}