{% extends 'manager/base.html' %}
{% load static %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Thêm kích thước sản phẩm</h3>
            </div>
        </div>
{% endblock banner %}
{% block content %}
    <form action="{% url 'manager:addSizeProduct' product.id %}" method="post" >
    {% csrf_token %}

        <h4>Tên sản phẩm:</h4>
        <div class="accInput"><p>{{ product.title }}</p></div>

        <h4>Hình ảnh:</h4>
        <div class="accInput" ><img src="{{ product.image.url }}" style="height: 250px; width: 250px"></div>

        <h4>Chiều ngang:</h4>
        <div class="accInput" >
            <p><input type="number" id="id_horizontal" name="horizontal"></p>
            <label id="id_lbl_horizontal"></label>
        </div>

        <h4>Chiều dọc:</h4>
        <div class="accInput">
            <p><input type="number" id="id_vertical" name="vertical"></p>
            <label id="id_lbl_vertical"></label>
        </div>

    <div><input class="btn-arrival" type="submit" value="Thêm kích thước"></div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_vertical").keyup(function () {
        var vertical = $("#id_vertical").val();  // get the selected country ID from the HTML input
        var horizontal = $("#id_horizontal").val();

        if (horizontal <= 0 ){
            $("#id_lbl_horizontal").html("Số lượng phải lớn hơn 0 !")
            $("#id_horizontal").val("")
            $("#id_vertical").val("")
        }
        else {
            $("#id_lbl_horizontal").html("")
            if (vertical <= 0 ){
                $("#id_lbl_vertical").html("Số lượng phải lớn hơn 0 !")
                $("#id_vertical").val("")
            }
            else {
                $("#id_lbl_vertical").html("")
                $.ajax({
                    url: '{% url 'manager:validate_size' %}',
                    data: {
                        'horizontal': horizontal,
                        'vertical': vertical,
                        'product_id': {{ product.id }}
                    },
                    dataType: 'json',
                    success: function (data) {
                      if (data.is_taken) {
                        alert("Sản phẩm đã tồn tại kích thước này !");
                        $("#id_horizontal").val("")
                        $("#id_vertical").val("")
                      }
                    }
                });
            }
        }
        {#Kiem tra size chieu ngang cua san pham nay da ton tai chua#}


    });

  </script>
{% endblock content %}