{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Quản lí sản phẩm</h3>
            </div>
        </div>
{% endblock banner %}
{% block content %}
{#    <section class="myAcc myAcc2">#}
        <div class="container-fluid">
{#        {% if perms.product.add_product %}#}
            <a href={% url 'manager:add_product' %}> <button type="button" class="btn btn-primary">Thêm sản phẩm</button></a>
{#        {% endif %}#}
            <div class="row mt-5">
                    <table class="table table-bordered table-striped table-light">
                        <thead>
                            <tr class="text-left">
                                <th scope="col"></th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng tồn</th>
                                <th scope="col">Đã bán</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td scope="row"><a><img src="{{ product.image.url }}" alt="product" style="width:100px"></a></td>
                                <td scope="row"">{{ product.title }}</td>
                                <td scope="row">{{ product.price|intcomma }}</td>
                                <td scope="row">{{ product.amount }}</td>
                                <td scope="row">{{ product.amount_sell }}</td>
                                <td scope="row">{{ product.category }}</td>
                                <td scope="row">
                                    {% if category.active %}
                                        Đang bán
                                    {% else %}
                                        Ngừng bán
                                    {% endif %}
                                </td>
                                <td scope="row">
                                    {% if perms.product.change_product %}
                                    <a href="{% url 'manager:sizeProductControl' product.id %}"><button type="button" class="btn btn-primary">Kích thước</button></a>
                                    {% endif %}
                                    {% if perms.product.change_product %}
                                    <a href="{% url 'manager:edit_product' product.id %}"><button type="button" class="btn btn-primary">Sửa</button></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
{#    </section>#}
{% endblock content %}