{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block banner %}
    <div class="banner relative">
            <img src="{% static 'images/15.png' %}" alt="logo" class=" img-responsive">
            <div class="banner-arrival">
                <h3>Quản lí sản phẩm</h3>
                <p>Manager<i class="fa fa-angle-right" aria-hidden="true"></i> product_control</p>
            </div>
        </div>
{% endblock banner %}
{% block content %}
{#    <section class="myAcc myAcc2">#}
        <div class="container">
{#        {% if perms.product.add_product %}#}
            <a href={% url 'manager:add_product' %}> <button type="button" class="btn btn-warning">Thêm kích thước</button></a>
{#        {% endif %}#}
            <div class="row">
{#            Tieue de#}
                <div class="col-md-10">
                        <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3" style="text-align: center;padding-top: 58px;">
                            <h4>Tên sản phẩm</h4>
                        </div>
                        <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                            <h4>Kích thước</h4>
                        </div>
                        <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                            <h4>Số lượng trong kho</h4>
                        </div>
                        <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                            <h4>Trạng thái</h4>
                        </div>
                        <div class="col-md-1" style="text-align: right;padding-top: 58px;">
                        </div>
                    </div>
                    <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                </div>
{#            Danh sach san pham#}
                <div class="col-md-10">
                    {% for sizeProduct in sizeProduct %}
                        <div class="row">
                        <div class="col-md-2">
                            <img src="{{ sizeProduct.product.image.url }}" alt="product" class="img-responsive">
                        </div>
                        <div class="col-md-3" style="text-align: center;padding-top: 58px;">
                            {{ sizeProduct.product.title }}
                        </div>
                        <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                            {{ sizeProduct.horizontal }} X {{ sizeProduct.vertical }}
                        </div>
                        <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                            {{ sizeProduct.amount }}
                        </div>
                        <div class="col-md-1" style="text-align: center;padding-top: 58px;">
                            {% if sizeProduct.active %}
                               Đang Bán
                            {% else %}
                                Ngừng bán
                            {% endif %}
                        </div>
                        <form action="{% url 'manager:sizeProductControl' sizeProduct.id %}" method="post">
                        {% csrf_token %}
                           <div class="col-md-1" style="text-align: right;padding-top: 58px;">
                            <i >
                                {% if perms.product.change_product %}

                                    {% if sizeProduct.active %}
                                        <a href=""><button type="submit" class="btn btn-warning">Ngừng bán</button></a>
                                        <input name="active_size" value="False" hidden>
                                    {% else %}
                                        <a href=""><button type="submit" class="btn btn-warning">Tiếp tục bán</button></a>
                                        <input name="active_size" value="True" hidden>
                                    {% endif %}

                                {% endif %}
                            </i>
                        </div>
                        </form>

                    </div>
                    <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
{#    </section>#}
{% endblock content %}